{% extends 'defaults/base.html' %}

{% block title %} {{post_data['title']}} {% endblock %}

{% block head %}
<script data-isso="//{{ request.host }}/isso/" data-isso-require-email="true" src="//{{ request.host }}/isso/js/embed.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
  <center>
    <h1>{{post_data['title']}} </h1>
    <pre>{{post_data['created']}}</pre>
    <pre>By: {{post_data['department']}}</pre>
  </center>
  <span>{{markdown_content |safe}}</span>
</div>
<br><br><br><br>
{% if session['admin_department'] ==  'root' %}
<br><br>
<a href="/admin/posts/edit/{{post_data['id']}}" class="btn btn-primary btn-outline-warning">Edit</a>
<br><br>
{% endif %}
{% endblock %}

{% block comments %}
<section id="isso-thread"></section>
{% endblock %}
