{% extends 'defaults/base.html' %}

{% block title %}Client | Login{% endblock %}

{% block content %}
<div class="container">
<h1>Login</h1>
  </div>
  <form action="{{url_for('signup')}}" method="post">
    <h6>Email: </h6>
    <input type="email" name="email" placeholder="Email">
    <br>
    <h6>Username: </h6>
    <input type="username" name="username" placeholder="Username">
    <br>
    <h6>Password:</h6>
    <input type="password" name="password" placeholder="Password">
    <br>
    <h6>Verify Password:</h6>
    <input type="password" name="verify" placeholder="Enter password again">
    <br><br>
    <input type='submit' class='btn btn-primary' value='Submit' />
  </form>
{% endblock %}
