bleach==4.1.0
cachelib==0.4.1
cffi==1.15.0
click==8.0.3
Flask==2.0.2
Flask-Caching==1.10.1
html5lib==1.1
importlib-metadata==4.8.1
isso==0.12.5
itsdangerous==2.0.1
Jinja2==3.0.2
Markdown==3.3.4
MarkupSafe==2.0.1
misaka==2.1.1
packaging==21.3
pycparser==2.21
pyparsing==3.0.6
six==1.16.0
typing-extensions==3.10.0.2
webencodings==0.5.1
Werkzeug==2.0.2
zipp==3.6.0
