bleach==4.1.0
cachelib==0.4.1
certifi==2023.7.22
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
Flask==2.3.2
Flask-Caching==1.10.1
gunicorn==20.1.0
html5lib==1.1
idna==3.3
importlib-metadata==4.8.1
isso==0.12.5
itsdangerous==2.0.1
Jinja2==3.0.2
Markdown==3.3.4
MarkupSafe==2.0.1
misaka==2.1.1
packaging==21.3
pycparser==2.21
pyparsing==3.0.6
requests==2.31.0
six==1.16.0
typing-extensions==3.10.0.2
urllib3==1.26.7
webencodings==0.5.1
Werkzeug==2.3.8
zipp==3.6.0
